body {
  font-family: "Inter", sans-serif;
  background-color: #f5f2eb;
}

button {
  font-family: inherit;
}
/* Helper Classes */
.btn-primary {
  background-color: #aed6b3;
  height: 44px;
  border: 1px solid #aed6b3;
  border-radius: 4px;
  color: white;
}
.btn-secondary {
  background-color: transparent;
  border: 1px solid #000000;
  height: 40px;
  border-radius: 40px;
  color: #000000;
  padding: 10px 23px;
}

.mb-32 {
  /* for margin bottom */
  margin-bottom: 32px;
}
.mb-12 {
  margin-bottom: 12px;
}

.mr-8 {
  margin-right: 8px;
}
.font-12 {
  font-size: 12px;
}
.font-regular {
  font-weight: 400;
}
.font-medium {
  font-weight: 500;
}
.font-bold {
  font-weight: 700;
}
.w-100 {
  width: 100%;
}
.main-nav {
  padding: 16px 70px 0px 0px;
}
.main-nav__list {
  text-align: right;
}
.main-nav_item {
  display: inline-block;
}
.btn-signup {
  background-color: transparent;
  border: none;
}
.border-color-black {
  border: 1px solid #000000;
  color: black;
}
.main-signin {
  vertical-align: top;
  text-align: center;
  display: inline-block;
  border: 1px solid white;
  border-radius: 30px;
  background-color: white;
  height: 648px;
  width: 480px;
}
.main-img {
  display: inline-block;
}
h1 {
  font-size: 40px;
}
h2 {
  color: lightgray;
  font-size: 22px;
}
input {
  border: 1px solid #5d5d5d;
  border-radius: 8px;
  width: 376px;
  height: 48px;
}
/* when you click in the field there wont be any black border */
input:focus {
  outline: none;
}
label {
  display: none;
}
